body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 46, 46);
}

.header {
    text-align: center;
    font-size: 48px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 50px
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    font-size: 36px;
    gap: 16px;
}

.water, .water-icon {
    color: rgb(24, 182, 255);
}

.earth, .earth-icon {
    color: rgb(185, 149, 115);
}

.fire, .fire-icon {
    color: rgb(247, 107, 107);
}

.air, .air-icon {
    color: rgb(255, 255, 255);
}

.element-rules {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    text-align: center;
}

.game-rules {
    display: flex;
    width: 85%;
    text-align: center;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

button {
    font-size: 150px;
    background-color: transparent;
    border-radius: 25px;
}

.elements > .fire-icon {
    border: 5px solid rgb(247, 107, 107);
}

.elements > .fire-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(165, 0, 0);
    box-shadow: 0 0 50px rgba(247, 107, 107, .5);
}

.elements > .water-icon {
    border: 5px solid rgb(24, 182, 255);
}

.elements > .water-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(0, 4, 255);
    box-shadow: 0 0 50px rgba(24, 182, 255, .5);
}

.elements > .earth-icon {
    border: 5px solid rgb(185, 149, 115);
}

.elements > .earth-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(66, 50, 32);
    box-shadow: 0 0 50px rgba(161, 127, 94, 0.5);
}

.elements > .air-icon {
    border: 5px solid white;
}

.elements > .air-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(100, 100, 100);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.results {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.choice {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 8px;
}

.avatarChoice, .challengerChoice {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 15px;
    width: 50%;
    padding: 15px;
}

.userChoiceHolder, 
.computerChoiceHolder {
    font-size: 150px;
    text-align: center;
    width: 170px;
    height: 202px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 25px;
}

.message {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-size: 36px;
    border: 5px solid black;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
}

.playAgain {
    font-size: 36px;
    padding: 10px;
    color: white;
    border: 5px solid white;
}

.playAgain:hover {
    transition: 0.2s;
    transform: scale(1.1);
}