body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 46, 46);
}

.header {
    text-align: center;
    font-size: 48px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 50px
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    font-size: 36px;
    gap: 16px;
}

.water, .water-icon {
    color: rgb(24, 182, 255);
}

.earth, .earth-icon {
    color: rgb(185, 149, 115);
}

.fire, .fire-icon {
    color: rgb(247, 107, 107);
}

.air, .air-icon {
    color: rgb(255, 255, 255);
}

.element-rules {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    text-align: center;
}

.game-rules {
    display: flex;
    width: 85%;
    text-align: center;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

button {
    font-size: 150px;
    background-color: transparent;
    border-radius: 25px;
}

.elements > .fire-icon {
    border: 5px solid rgb(247, 107, 107);
}

.elements > .fire-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(165, 0, 0);
    box-shadow: 0 0 50px rgba(247, 107, 107, .5);
}

.elements > .water-icon {
    border: 5px solid rgb(24, 182, 255);
}

.elements > .water-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(0, 4, 255);
    box-shadow: 0 0 50px rgba(24, 182, 255, .5);
}

.elements > .earth-icon {
    border: 5px solid rgb(185, 149, 115);
}

.elements > .earth-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(66, 50, 32);
    box-shadow: 0 0 50px rgba(161, 127, 94, 0.5);
}

.elements > .air-icon {
    border: 5px solid white;
}

.elements > .air-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: rgb(100, 100, 100);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.results {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.choice {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 8px;
}

.avatarChoice, .challengerChoice {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 15px;
    width: 50%;
    padding: 15px;
}

.userChoiceHolder, 
.computerChoiceHolder {
    font-size: 150px;
    text-align: center;
    width: 170px;
    height: 202px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 25px;
}

.message {
    display: flex;
    flex: 2;
    border: 5px solid black;
    border-radius: 25px;
    background-color: transparent;
    text-align: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.messageText {
    font-size: 36px;
}

/*
***Commented below is my CSS from my first attempt at creating and styling the Rock Paper Scissors project***
.body {
    background-color: rgb(31, 52, 70);
    flex: 1;
}



h1, .rules, .scores, .choice, .winner {
    color: rgb(228, 198, 230);
    
}

h1 {
    margin-top: auto;
    font-family: fantasy;
    font-size: 125px;
    padding: 50px;
    text-align: center;
    background-color: rgb(53, 52, 52);
}

.scores {
    display: flex;
    justify-content: center;
}

.userScore, .computerScore {
    display: flex;
    margin: 100px;
}

.choice, .winner {
    display: flex;
    justify-content: center;
}

.rules {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    margin-bottom: 100px;
}

.rules-info {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container {
    display: flex;
    font-size: 28px;
    flex: 1;
    justify-content: center;
}

.icons {
    background-color: rgb(31, 52, 70);
    flex: 1;
    color: rgb(103, 70, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.rock, .paper, .scissors {
    font-size: 150px;
    background-color: rgb(235, 235, 139);
    display: flex;
    border: 2px solid rgb(218, 150, 150);
    border-radius: 25px;
    padding: 16px;
    
}
*/